In [2]:
scores=[35,50,20,30,55,75,90,95,66,80]
for x in scores:
    if x>70:
        print('distriction')
    elif 60<x<70:
        print("first class")
    elif 50<x<60:
        print("second class")
    elif 35<x<50:
        print("pass")
    elif x<50:
        print("fail")

fail
fail
fail
second class
distriction
distriction
distriction
first class
distriction

In [5]:
Book_price={'Python':600, 'Java': 400, 'web_tech':550, 'os': 450, 'IT':700}
for x,y in Book_price.items():
    if y>500:
        print(x)

Python
web_tech
IT

In [6]:
aList= [1,2,3,4,5,6,7]
for x in aList:
    squard_list=x**2
    print(squard_list,end=' ')

1 4 9 16 25 36 49

In [8]:
list1 = ["Hello","take"]
list2 = ["dear","sir"]
for x in list1:
    for j in list2:
        print(x+j)

Hellodear
Hellosir
takedear
takesir

In [1]:
list = [100,200,300,400,500]
rev=list[::-1]
rev

[500, 400, 300, 200, 100]

In [2]:
list1 = [100,20,[300,400,[5000,6000],500],30,40]
list1[2][2].append(7000)
list1

[100, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [5]:
list1=["a","b",["c",["d","e",["f","g"],"k"],"l"],"m","n"]
list1[2][1][2].extend(["h","i","j"])
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [7]:
player_game={'sachin':'cricket','rahul':'cricket','messi':'football','federer':'tennis','anand':'chess'}
for x,y in player_game.items():
    if y=='cricket':
        print(x)

sachin
rahul

In [6]:
sum=0
list1=[1,2,3,4,5,10,20,4,5]
for i in list1:
    sum+=i
sum

54